@use '../helpers/' as *;

.select {
  color: #fff;
  display: grid;
  width: 100%;
  align-items: start;

  &__trigger {
    width: 100%;
    min-width: rem(120);
    display: flex;
    justify-content: center;
    column-gap: .4rem;
  }

  &__menu {
    margin-top: .2rem;
    display: flex;
    flex-direction: column;
    z-index: 3;
    row-gap: .2rem;
  }
}